volumes:
  jovyan-home:

services:
  jupyter:
    build:
      context: .
      args:
        RUN_UID: ${RUN_UID:-1000}
        RUN_GID: ${RUN_GID:-1000}
    image: ereefs/data-access-notebooks:dev
    init: true
    ports:
      - "8888:8888"
    tmpfs:
      /tmp:exec,mode=2777
    volumes:
      - jovyan-home:/home/jovyan:rw
      - ${PWD}/:/home/jovyan/ereefs/
